<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>

		<typeAlias type="com.projectprac.dto.StoreDto" alias="StoreDto"/>
		
	</typeAliases>
	
  <mappers>
  </mappers>
  
</configuration>
<!-- 4) MyBatis 설정 파일 만들기 -->